.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  background: #020617;
  color: white;
}

.links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
